<!-- 引入公共的头部 -->
<% include layouts/header %>

<div id='main'>
    <div id='sidebar'>

        <!-- 引入个人信息面板 -->
        <% include userInfo %>

        <div class='panel'>
            <div class='inner ads'>


                <a href="http://www.ucloud.cn/site/active/gift.html?utm_source=cnodejs&utm_medium=content_pic_pc&utm_campaign=multicloud&utm_content=gift&ytag=cnodejs"
                   target="_blank" class="banner sponsor_outlink"
                   data-label="ucloud-banner">
                    <img src="//dn-cnode.qbox.me/FgQS-GQDfqwAD_v0NuhyYUOUk5MG">
                </a>


                <div class="sep10"></div>

                <a href="https://alinode.aliyun.com/?ref=cnode" target="_blank" class="banner sponsor_outlink"
                   data-label="alinode">
                    <img src="//dn-cnode.qbox.me/Fn4D6BhOTz1IswvmzeZ1q7QW1ls_">
                </a>

            </div>
        </div>


        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>无人回复的话题</span>
            </div>
            <div class='inner'>
                <ul class="unstyled">
                    <% zeroReplyData.forEach(function(item){ %>
                    <li>
                        <div><a class='dark topic_title' href="/topic/<%= item._id %>" title="<%= item.title %>"><%= item.title %></a>
                        </div>
                    </li>
                    <%}) %>
                </ul>
            </div>
        </div>


        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>积分榜</span>
                &nbsp;
                <a class='dark' href='/users/top100'>TOP 100 &gt;&gt;</a>
            </div>
            <div class='inner'>
                <ol>
                    <% scoreboard.forEach(function(item){ %>
                        <li>
                            <span class="top_score"><%= item.score %></span>
                            <span class="user_name"><a href="/user/<%= item.username %>"><%= item.username %></a></span>
                        </li>
                    <% }) %>
                </ol>
            </div>
        </div>


        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>友情社区</span>
            </div>
            <div class='inner'>
                <ol class="friendship-community">
                    <li>
                        <a href="https://ruby-china.org/" target="_blank">
                            <img src="//o4j806krb.qnssl.com/public/images/ruby-china-20150529.png">
                        </a>
                    </li>
                    <div class="sep10"></div>
                    <li>
                        <a href="http://golangtc.com/" target="_blank">
                            <img src="//o4j806krb.qnssl.com/public/images/golangtc-logo.png">
                        </a>
                    </li>
                    <div class="sep10"></div>
                    <li>
                        <a href="http://phphub.org/" target="_blank">
                            <img src="//o4j806krb.qnssl.com/public/images/phphub-logo.png">
                        </a>
                    </li>
                    <div class="sep10"></div>
                    <li>
                        <a href="https://testerhome.com/" target="_blank">
                            <img src="//dn-cnode.qbox.me/FjLUc7IJ2--DqS706etPQ1EGajxK">
                        </a>
                    </li>
                </ol>
            </div>
        </div>
        <div class='panel'>
            <div class='header'>
                <span class='col_fade'>客户端二维码</span>
            </div>
            <div class='inner cnode-app-download'>
                <img width='200' src="//dn-cnode.qbox.me/FtG0YVgQ6iginiLpf9W4_ShjiLfU">
                <br/>
                <a href="https://github.com/soliury/noder-react-native" target="_blank">客户端源码地址</a>
            </div>
        </div>

    </div>


    <div id="content">
        <div class="panel">
            <div class="header">
                <!--
                  tab
                    all   全部
                    good  精华
                    _id   分类的_id

                -->
                <a href="/?tab=all" class="topic-tab <%= tab == 'all' ? 'current-tab' : '' %>">全部</a>
                <a href="/?tab=good" class="topic-tab <%= tab == 'good' ? 'current-tab' : '' %>">精华</a>
                <% cateData.forEach(function (item) { %>
                <a href="/?tab=<%= item._id %>" class="topic-tab <%= tab == item._id ? 'current-tab' : '' %>"><%= item.catename %></a>
                <% }) %>
            </div>

            <div class="inner no-padding">
                <div id="topic_list">

                    <% topicData.forEach(function(item){ %>
                    <div class='cell'>
                        <a class="user_avatar pull-left" href="/user/<%= item.user.username %>">
                            <img src="/<%= item.user.userpic %>"
                                 title="<%= item.user.username %>"
                            />
                        </a>
                        <span class="reply_count pull-left">
                            <span class="count_of_replies" title="回复数">
                            <%= item.reply.length %>
                            </span>
                            <span class="count_seperator">/</span>
                            <span class="count_of_visits" title='点击数'>
                            <%= item.viewNum %>
                            </span>
                        </span>


                        <a class='last_time pull-right' href="/topic/58ad76db7872ea0864fedfcc#593de3269db8df0a1780f93d">
                            <img class="user_small_avatar"
                                 src="https://avatars0.githubusercontent.com/u/3992942?v=3&amp;s=120">
                            <span class="last_active_time">11 小时前</span>
                        </a>


                        <div class="topic_title_wrapper">

                            <!--
                              1. 判断是否是置顶
                              2. 判断是否是精华
                              3. 该位置显示为分类
                            -->
                            <% if(item.top){ %>
                            <span class='put_top'>置顶</span>
                            <% }else if(item.good){ %>
                            <span class='put_good'>精华</span>
                            <% }else{ %>
                            <span class='topiclist-tab'><%= item.cate.catename %></span>
                            <% } %>
                            <a class='topic_title' href='/topic/<%= item._id %>' title='<%= item.title %>'>
                                <%= item.title %>
                            </a>
                        </div>
                    </div>
                    <% }) %>

                </div>

                <!-- 不仅仅要传递分类，还要传递的分页数据 -->

                <script>
                  $(document).ready(function () {
                    var $nav = $('.pagination');
                    var current_page = $nav.attr('current_page');
                    if (current_page) {
                      $nav.find('li').each(function () {
                        var $li = $(this);
                        var $a = $li.find('a');
                        if ($a.html() == current_page) {
                          $li.addClass('active');
                          $a.removeAttr('href');
                        }
                      });
                    }
                  });
                </script>

            </div>

        </div>
    </div>

</div>

<!-- 引入公共的底部 -->
<% include layouts/footer %>